.container fluid {
  width:100%;
  height:100%;
  background-image:url('http://clipartsign.com/upload/2016/02/02/fall-leaves-autumn-leaf-clip-art-wallpaper.jpg')
}
.row-a{
  background-color: rgb(211, 198, 85);
  height: 250px;
  padding: 25px;
  display: flex;
flex-direction: row-reverse;
}

.row-b{
  background-color: rgb(211, 188, 85);
height: 250px;
display: flex;
flex-direction: row-reverse;
}
.row-c{
background-color: rgb(255, 166, 0);
height: 250px;
align-items: center;
display: flex;

}
.dot {
  height: 150px;
  width: 150px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
}
.hr{
  height: 40px; 
  width: 50%;
}
.row-d{
background-color: grey;
height: 250px;
display: flex;
align-items: center;
}
.row-e{
background-color: lightgrey;
height: 100px;
}
.row-f{
  background-color: black;
  height: 100px;
}
.dotparent{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.loremparent{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
