.row-a{
  background-color: mediumorchid;
  height: 150px;
  padding: 25px;
  display: flex;
 justify-content: space-between;
  }
.row-b{
  background-color: mediumorchid;
height: 250px;
display: flex;
flex-direction: row-reverse;
}
.row-c{
background-color: orchid;
height: 250px;
}
#circle-1 {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  display: inline-block;
}
#circle-2 {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    display: inline-block;
}
#circle-3 {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%;
      display: inline-block;
}
.hr{
  height: 40px; 
  width: 50%;
}
.row-d{
background-color: grey;
height: 250px;
flex-direction: row;
}
.row-e{
background-color: lightgrey;
height: 100px;
}
.row-f{
  background-color: black;
  height: 100px;
}
.cirle{
  position: relative;
  display: inline-block;
}